# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# User specific
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# OS files
.DS_Store
Thumbs.db

# Visual Studio
.vs/

# Rider
.idea/

# Unity3D
*.unitypackage

# Crash reports
sysinfo.txt
